---
interface Props {
  title: string;
  canonicalURL?: string;
  redirectURL?: string;
  meta?: boolean;
}

const description = "Duro's URL Shortener";
const { title, redirectURL, canonicalURL } = Astro.props;
const canonical = canonicalURL ?? new URL(Astro.url).href;
const meta = Astro.props.meta ?? true;
---

<html lang="en" class="h-full w-full">
  { meta ? <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    {
      redirectURL ? (
        <meta http-equiv="refresh" content={`0; url=${redirectURL}`} />
      ) : null
    }
  </head> : null }
  <body
    class="flex flex-col h-full w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100"
  >
    <nav class="border-b bg-white dark:bg-zinc-800 dark:border-zinc-700">
      <div
        class="flex items-baseline justify-end sm:justify-between p-4 max-w-screen-xl mx-auto"
      >
        <a href="/" class="hidden sm:block font-semibold dark:text-white"
          >Duro Shortener</a
        >
        <div>
          <ul class="font-medium flex items-baseline gap-8">
            <li>
              <a
                href="/dashboard"
                class="block text-zinc-900 dark:text-gray-200">Dashboard</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>
